<!-- Best Courses  -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Best Online Courses  </h1>    </div>
    <hr>
  </div>
</div>
<!-- Cards -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/js.png">
          <div class="card-body">
            <h4 class="card-title">Java Script</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/objc.png">
          <div class="card-body">
            <h4 class="card-title">c#</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/HTML5.jpg">
          <div class="card-body">
            <h4 class="card-title">HTML & CSS</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/python.png">
          <div class="card-body">
            <h4 class="card-title">Python</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/bootstrap.jpg">
          <div class="card-body">
            <h4 class="card-title">Bootstrap</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/sql.jpg">
          <div class="card-body">
            <h4 class="card-title">SQL</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/digital-marketing.png">
          <div class="card-body">
            <h4 class="card-title">Digital Marketing</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div>
          <img class="card-img-top" src="/assets/images/java.jpg">
          <div class="card-body">
            <h4 class="card-title">JAVA</h4>
            <p>Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
            <a href="#" class="btn btn-outline-secondary">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
