<div class="body-content">
  <mat-card>
    <mat-card-content>
      <h1 class="courseTitle">Name of Course</h1>
      <img src="/assets/images/java.jpg" class="courseImage">
      <span class="courseSubtitle">Description</span>
      <p id="descr">Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his
        Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his
        Lorem ipsum dolor sit amet, vis ex sint epicuri, mel commodo oporteat constituto te. Sonet timeam id his</p>
      <span class="courseSubtitle">Videos</span>
      <div class="courseVideo">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Video name
              </mat-panel-title>
              <mat-panel-description>
                Video description
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!--hne Video-->
            <video class="courseVideoPlay"></video>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <button mat-raised-button color="primary" class="primaryButton">Add video</button>
    </mat-card-content>

  </mat-card>
</div>
