<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/background.jpeg">
      <div class="carousel-caption slide">
        <h1 class="display-4">MyV<span id="logoTitle">uVy</span></h1>
        <h6>Learn with pleasure</h6>
        <button type="button" class="btn btn-outline-light btn-lg">More...</button>
        <button type="button" class="btn btn-primary light btn-lg">Get Started</button>
      </div>
    </div>
  </div>
</div>
