<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><span id="firstPart">MyV</span><span id="secondPart">uVy</span></mat-toolbar>
    <mat-nav-list >
      <li class="active"> <a routerLink="/dashboard"><i class="fa fa-home size"></i><span>Home</span></a>
      </li>
      <li> <a   routerLink="/dashboard/my"><i class="fa fa-graduation-cap size"></i><span>My Courses</span></a>
      </li>
      <li> <a routerLink="/dashboard/catalog" ><i class="fa fa-map size"></i><span>Catalog</span></a>
      </li>
      <li> <a ><i class="fa fa-envelope-square size"></i><span>Inbox</span></a>
      </li>
      <li *ngIf="user.formateur"> <a routerLink="/dashboard/upload"><i class="fa fa-arrow-circle-up size"></i><span>Add course</span></a>
      </li>
      <li *ngIf="user.formateur"> <a routerLink="/dashboard/uploaded"><i class="fa fa-database size"></i><span>Uploaded courses</span></a>
      </li>
      <div id="bottomSide">
      <li> <a ><i class="fa fa-cog size"></i><span>Settings</span></a>
      </li>
      <li> <a mat-button (click)="logout()" ><i class="fa fa-power-off size" ></i><span>Logout</span></a>
      </li>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="userBlocName">
        <img src="{{user.photoUrl}}" alt="Avatar" class="avatar">
        <span id="userNameAccount">  {{user.username}}</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
