<h3>Register</h3>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div style="height: 150px; width: 150px; border-radius: 50%; background-color: #F0F0F0; display: flex; flex-direction: column; justify-content: flex-end; text-align: right">
      <mat-spinner color="primary"  [diameter]="150" *ngIf="loader"></mat-spinner>

      <img *ngIf="file != null && !loader" [src]="file" style="height: 100%; width: 100%; border-radius: 50%;" alt="">
      <div style="width: 96%; height: 0;">
        <input type="file" hidden  accept="image/*" (change)="onFileChange($event.target.files)" name="file" style="margin-top: 30px; font-weight: normal;" #fileInput>
        <button mat-icon-button color="primary" (click)="fileInput.click(); " style=" margin-top: -35px; background-color: #F0F0F0; margin-left: -55px; position: absolute"><mat-icon >camera_alt</mat-icon></button>

      </div>

    </div>
  </div>

  <mat-form-field style="width: 100%" class="col-12">
    <input type="text" style="width: 100%" matInput placeholder="username"  name="username" [(ngModel)]="user.username">
  </mat-form-field>

  <mat-form-field style="width: 100%" class="col-6">
    <input type="text" style="width: 100%" matInput placeholder="Firstname" name="name" [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field style="width: 100%" class="col-6">
    <input type="text" style="width: 100%" matInput placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname">
  </mat-form-field>
  <mat-form-field style="width: 100%" class="col-6">
    <input type="text" style="width: 100%" matInput placeholder="email" name="email" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field style="width: 100%"class="col-6">
    <input type="text" style="width: 100%" matInput placeholder="tel" name="tel" [(ngModel)]="user.tel">
  </mat-form-field>


  <mat-form-field style="width: 100%" class="col-6">
    <input type="password"  matInput placeholder="password"  name="password" [(ngModel)]="user.password">
  </mat-form-field>
  <mat-form-field style="width: 100%" class="col-6">
    <input type="password"  matInput placeholder="password" class="col-6">
  </mat-form-field>

  <mat-form-field style="width: 100%;" class="col-12">
    <input matInput [matDatepicker]="picker" placeholder="birth date" name="" [(ngModel)]="user.birthdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox color="primary" class="col-12" name="formateur" [(ngModel)]="user.formateur">
    check me ! if you are a formative
  </mat-checkbox>
  <button mat-flat-button color="primary" (click)="create()" style="width: 100%"> Sign up </button>
</div>
